<div class="trust-badges">
  <span>Science-Backed</span>
  <span class="trust-badges__separator">&middot;</span>
  <span>Free Course</span>
  <span class="trust-badges__separator">&middot;</span>
  <span>30-Day Guarantee</span>
  <span class="trust-badges__separator">&middot;</span>
  <span>Free Shipping</span>
</div>
