<div class="trust-badges">
  <span>Science-Backed</span>
  <span class="trust-badges__separator">&middot;</span>
  <span>Course Included With Purchase</span>
  <span class="trust-badges__separator">&middot;</span>
  <span>Free Shipping</span>
</div>
